.myCanvas {padding:20px; text-align:center;}

body {
  background-image: url("green_gradient2.png");
  background-repeat: repeat-x;
}

#BottomStuffAlso {
  border: 2px solid red;
  border-radius: 5px;
}

#bottomThing {
  color: gold;
  text-decoration: indigo;
}
